*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial",
      "WenQuanYi Micro Hei", "Microsoft YaHei", "Droid Sans Fallback", sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

@media (min-width: 600px) {
  #na-main-tab .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  #na-main-tab .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

#na-main-tab li.ship-picker-item:hover {
    font-weight: bold;
}

#na-main-tab .ship-picker.panel > .panel-body,
#na-main-tab .ship-viewer.panel > .panel-body,
#na-main-tab .equip-viewer.panel > .panel-body,
#na-main-tab .equip-picker.panel > .panel-body,
#na-main-tab .game-update-viewer.panel > .panel-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#na-main-tab.theme-paperdark ::-webkit-scrollbar {
    width: 10px;
}

#na-main-tab.theme-darklykai ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#na-main-tab ul[role="tablist"].nav.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#na-main-tab ul[role="tablist"].nav.nav-tabs > li {
    flex: 1;
    text-align: center;
}

#na-main-tab .equipments-view .slotitem-img.png {
    height: 1.6em;
}

#na-main-tab .equipments-view .slotitem-img.svg {
    height: 1.2em;
}

#na-main-tab .equip-picker .slotitem-img.png {
    height: 2em;
    margin-right: -0.2em;
}

#na-main-tab .equip-picker .slotitem-img.svg {
    height: 1.2em;
}

#na-main-tab .ship-info-view .custom {
    font-weight: bold;
}

#na-main-tab .ship-info-view .extra-info-view .material-icon.png,
#na-main-tab .ship-info-view .extra-info-view .material-icon.svg {
    height: 1.4em;
    width: 1.4em;
    margin-right: .2em;
}

#na-main-tab .ship-info-view .remodel-info-view > .panel-heading {
    padding: 10px;
}

#na-main-tab .ship-info-view .remodel-info-view .material-icon.png,
#na-main-tab .ship-info-view .remodel-info-view .material-icon.svg {
    height: 1.4em;
    width: 1.4em;
}

#na-main-tab .equip-viewer .header .slotitem-img.png {
    height: 2.5em;
    width: 2.5em;
}

#na-main-tab .equip-viewer .header .slotitem-img.svg {
    height: 1.4em;
    width: 1.4em;
    margin-bottom: .4em;
}

#na-main-tab .equip-viewer .extra-info-view .material-icon.png,
#na-main-tab .equip-viewer .extra-info-view .material-icon.svg {
    height: 1.4em;
    width: 1.4em;
    margin-right: .2em;
}

#na-main-tab .game-update-viewer.panel button .slotitem-img.png {
    height: 1.8em;
    width: 1.8em;
}

#na-main-tab .game-update-viewer.panel button .slotitem-img.svg {
    height: 1.2em;
    width: 1.2em;
    margin-right: .2em;
}

.game-update-shipcg-tooltip .tooltip-inner {
    max-width: none;
}
