*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial",
      "WenQuanYi Micro Hei", "Microsoft YaHei", "Droid Sans Fallback", sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

.na-main-tab.theme-dark ::-webkit-scrollbar {
    width: 10px;
}

.na-main-tab.theme-light ::-webkit-scrollbar {
    width: 10px;
}

.na-main-tab.theme-light ::-webkit-scrollbar-thumb {
    /*
      by default the scrollbar is there but somehow
      has a color matching its background.

      better be more specific I guess.
     */
    background-color: #aaa;
}
